/* .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "viz3";
    gap: 10px;
    width: 1000px;
    max-width: 1000px; /* This property will ensure that the grid container doesn't exceed 1000px in width */
    /* margin: 0 auto;
    justify-content: center;
    align-items: center;
} */

.drop-shadow {
    box-shadow: 5px 5px 10px rgba(50, 49, 49, 0.2);
}
